*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-2{
    background: linear-gradient(to right, rgb(68, 19, 19), rgb(66, 38, 11));
}

.t-stroke-shadow {
    text-align: center;
    color: #3d3d3d;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}


body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.642)), url(../Galeria/imgFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    


}

.Enlaces_Encabezado{
    flex-direction: column;
    align-items: right;
    max-width: 900px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.829);
    font-size: 20px;
    margin-top: 50px;  
        
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;

}

.menu-horizontal> li:hover{
    background-color: rgb(49, 49, 49);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;

}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration:dashed;
}

.TituloGaleria{
    text-align: center;
}

.Video{
    display: flex;
    justify-content: center;
}


.parrafo{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.Noticia{
    
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    
}


table{
    color: white;
    background-color: brown;
    border-collapse:collapse;
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Formulario__Voto{
    color: white;
}

caption, td{
    border: solid 1px black;
    padding: 0px;
}

.classPie{
    text-align: center;
    color: white;
    
    

}

.VideoGaleria{
    display: flex;
    justify-content: center;

}


.Galeria .col-lg-4{
    margin: 0 !important;
    padding: 20px;
}


.Galeria img{
    margin: 3px;
    width: 100%;
    height: 300px;
    overflow:hidden;
}

.Galeria img:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    box-shadow: 0px 0px 5px 5px #1b4d20;
    -webkit-box-shadow: 0px 0px 5px 5px #1b4d20;
    
}

.TituloImg{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.carousel-inner{
    margin: 2px;
    width: 900px;
    height: 500px;
    
}

@include media-breakpoint-up(sm) { 
    @media (min-width: 576px) {
        body
    }
 }

@include media-breakpoint-up(md) { 
    @media (min-width: 768px) { 
        body
    }
}

@include media-breakpoint-up(lg) { 
    @media (min-width: 992px) { 
        body
     }
 }

@include media-breakpoint-up(xl) { 
    @media (min-width: 1200px) { 
        body
    }
 }

@include media-breakpoint-up(xxl) {
    @media (min-width: 1400px) { 
        body
    }
}


    
