*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 
 .animated-shadow {
   color: #ffffff77;
   font: normal 80px Varela Round, sans-serif;
   height: 30fr;
   left: 0;
   letter-spacing: 5px;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
   animation: move linear 2000ms infinite;
   z-index: 2
 }

 @keyframes move {
   0% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
   25% {
     text-shadow:
       -4px -4px 0 #13f1fc,
       -3px -3px 0 #13f1fc,
       -2px -2px 0 #13f1fc,
       -1px -1px 0 #13f1fc,
       4px 4px 0 #da0641,
       3px 3px 0 #da0641,
       2px 2px 0 #da0641,
       1px 1px 0 #da0641
     ;
   }
   50% {
     text-shadow:
       -4px 4px 0 #da0641,
       -3px 3px 0 #da0641,
       -2px 2px 0 #da0641,
       -1px 1px 0 #da0641,
       4px -4px 0 #13f1fc,
       3px -3px 0 #13f1fc,
       2px -2px 0 #13f1fc,
       1px -1px 0 #13f1fc
     ;
   }
   75% {
     text-shadow:
       4px 4px 0 #13f1fc,
       3px 3px 0 #13f1fc,
       2px 2px 0 #13f1fc,
       1px 1px 0 #13f1fc,
       -4px -4px 0 #da0641,
       -3px -3px 0 #da0641,
       -2px -2px 0 #da0641,
       -1px -1px 0 #da0641
     ;
   }
   100% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
 }

.encabezado{
    display: flex;
    justify-content: space-between;
}
.encabezado_titulo{ 
    font-size: 80px;
}
.logopagina{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 160px;
}

.t-stroke-shadow {
    display: flex;
    justify-content: left;
    text-align: center;
    color: #3d3d3d;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}


body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.642)), url(../Galeria/imgFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.TituloGaleria{
    text-align: center;
}

.Video{
    display: flex;
    justify-content: center;
    
}



.parrafo{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.Noticia{
    
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    
}


table{
    color: white;
    background-color: brown;
    border-collapse:collapse;
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Formulario__Voto{
    color: white;
}

caption, td{
    border: solid 1px black;
    padding: 0px;
}

.classPie{
    text-align: center;
    color: white;
}

.VideoGaleria{
    display: flex;
    justify-content: center;

}


.Galeria .col-lg-4{
    margin: 0 !important;
    padding: 20px;
}


.Galeria img{
    margin: 3px;
    width: 100%;
    height: 300px;
    overflow:hidden;
}

.Galeria img:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    box-shadow: 0px 0px 5px 5px #1b4d20;
    -webkit-box-shadow: 0px 0px 5px 5px #1b4d20;
    
}

.TituloImg{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.Titulo_juegos{
    display: flex;
    justify-content: center;
}
.Titulo_componentes{
    display: flex;
    justify-content: center;
}


.carousel-inner{
    margin: auto;
    height: 80%;
    width: 70%;
}
.card-img-top{
    height: 350px;
    object-fit: cover;
}
.card{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.img-card{
    height:100%;
    width: 500px;
    object-fit: cover;

}

.Parrafo_Componentes{
    font-size: 13px;
}

.card-body{
height: 100%;
}    
.colornav{
    background-color: rgb(97, 97, 97);
}
@media screen and (max-width: 768px) {
    .logopagina{
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 120px;
        height: 120px;
    }

    .carousel-inner{
        margin: auto;
        height: 90%;
        width: 100%;
    }
    .encabezado_titulo{ 
            font-size: 40px;
            margin-left: 20px;
            margin-bottom: 0px;
            
        }
        .card-img-top{
            height: 350px;
            object-fit: cover;
        }
        .card-body{
            margin: auto;
        height: 90%;
        width: 100%;
        }
}
    

